In [1]:
import ccxt
import pandas as pd
from tenacity import retry, stop_after_attempt, wait_exponential, retry_if_exception_type

In [6]:
import ccxt
import pandas as pd

# 1) make an exchange
exchange = ccxt.binance({
    "enableRateLimit": True
})

# 2) pick a market + timeframe
symbol = "BTC/USDT"
timeframe = "1h"   # you can try "5m" or "1m" too
limit = 100        # how many candles to fetch

# 3) fetch ohlcv: [ timestamp, open, high, low, close, volume ]
ohlcv = exchange.fetch_ohlcv(symbol, timeframe=timeframe, limit=limit)

# 4) put it in a DataFrame so it's nice to look at
df = pd.DataFrame(
    ohlcv,
    columns=["timestamp", "open", "high", "low", "close", "volume"]
)

# 5) turn timestamp into readable datetime (UTC)
df["datetime"] = pd.to_datetime(df["timestamp"], unit="ms")

# 6) show it
print(df.tail(10))

        timestamp       open       high        low      close      volume  \
90  1762419600000  103200.26  103261.93  102810.00  102810.01   536.64925
91  1762423200000  102810.01  103288.59  102651.63  103122.54   932.94397
92  1762426800000  103122.54  103300.01  102743.82  103227.58   540.52931
93  1762430400000  103227.59  103333.18  102383.64  102552.38  1051.14565
94  1762434000000  102552.39  103626.46  102552.38  103319.71   941.18298
95  1762437600000  103319.71  103579.68  102044.63  102125.00  1661.00797
96  1762441200000  102124.99  102932.94  101630.00  102014.48  3027.20967
97  1762444800000  102014.49  102393.51  100300.95  100867.20  3035.72721
98  1762448400000  100867.19  101946.31  100770.57  101804.01  1310.77048
99  1762452000000  101804.02  101804.02  100916.74  101633.12   503.18778

              datetime
90 2025-11-06 09:00:00
91 2025-11-06 10:00:00
92 2025-11-06 11:00:00
93 2025-11-06 12:00:00
94 2025-11-06 13:00:00
95 2025-11-06 14:00:00
96 2025-11-06 15:00:00
97 2025-11-06 16:00:00
98 2025-11-06 17:00:00
99 2025-11-06 18:00:00

In [2]:
out_path = "data/binance/BTC-USDT/1h/2024-01.parquet"

pd.read_parquet(out_path)

,timestamp,open,high,low,close,volume,datetime
0,1704067200000,42283.58,42554.57,42261.02,42475.23,1271.68108,2024-01-01 00:00:00+00:00
1,1704070800000,42475.23,42775.00,42431.65,42613.56,1196.37856,2024-01-01 01:00:00+00:00
2,1704074400000,42613.57,42638.41,42500.00,42581.10,685.21980,2024-01-01 02:00:00+00:00
3,1704078000000,42581.09,42586.64,42230.08,42330.49,794.80391,2024-01-01 03:00:00+00:00
4,1704081600000,42330.50,42399.99,42209.46,42399.99,715.41760,2024-01-01 04:00:00+00:00
...,...,...,...,...,...,...,...
739,1706727600000,43513.38,43551.99,43041.10,43334.64,2549.59458,2024-01-31 19:00:00+00:00
740,1706731200000,43334.63,43361.10,42519.92,42541.18,3928.70425,2024-01-31 20:00:00+00:00
741,1706734800000,42541.19,42707.68,42276.84,42487.12,3017.45402,2024-01-31 21:00:00+00:00
742,1706738400000,42487.12,42690.42,42381.10,42656.07,1398.31850,2024-01-31 22:00:00+00:00
743,1706742000000,42656.07,42688.88,42555.46,42580.00,1257.92790,2024-01-31 23:00:00+00:00